.block {
  width: 100%;
}

.imgBlock {
  width: 100%;
}

.imgBlock img {
  display: block;
  width: 100%;
  height: auto;
}

.developmentStack {
  padding-left: 0;
}

.developmentStack li {
  display: inline-block;
  list-style-type: none;
  padding-right: 5px;
}

.developmentStack li:after {
  content: ",";
}

.developmentStack li:last-child:after {
  content: "";
}

.text {
  font-size: 1rem;
  color: var(--fontMainColor);
}

.title {
  font-size: 1.2rem;
  color: var(--fontMainColor);
  margin: 10px 0;
}

.helpText {
  font-size: 0.8rem;
  color: var(--fontSecondaryColor);
}

.socialNetworks {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0 0 3px;
}
