.block {
  width: 90vw;
  margin: auto;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchForm {
  display: flex;
  height: 2rem;
}

.searchForm > * {
  cursor: pointer;
}

.search {
  border: 0;
  background: none;
  border-bottom: 2px solid var(--bgButtonColor)
}

.prjectsBlock {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.showMoreBtn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 3px;
  background: var(--bgButtonColor);
  border: 0;
  color: var(--fontSpecialColor);
}

.hideBtn {
  display: none;
}

.title {
  margin: 20px 0;
  text-align: left;
  font-size: 2rem;
  color: var(--fontMainColor);
}

.imgBlock {
  width: 2rem;
  height: 2rem;
}

.imgBlock img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 880px) {
  .prjectsBlock {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.7rem;
  }
}