.title, .container {
  display: flex;
  justify-content: space-between;
}

.mapSection {
  width: 100%;
  margin: 3rem 0 0;
}

.mapDiv {
  width: 65%;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column-reverse;
    align-items: start;
  }

  .container > div:last-child {
    align-self: center;
  }

  .container > div {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 675px) {
  .mapDiv {
    width: 100%;
  }
}

.title {
  margin-bottom: 3rem;
  height: calc(60% * 0.8);
}

.title__name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 15px 2rem 0;
  color: var(--fontMainColor)
}

.list {
  width: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.listItem {
  margin-bottom: 1rem;
}

.listItem__name {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 0 .5rem;
  text-align: left;
  color: var(--fontMainColor)
}

.listItem__address {
  color: var(--fontSecondaryColor);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listItem__address_active {
  color: var(--fontMainColor);
}

.listItem__icon {
  color: var(--fontMainColor);
  height: 1.5rem;
  min-height: 100%;
  font-weight: 800;
}
