.link {
    text-decoration: none;
    padding: 3px 10px;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--fontMainColor);
    margin: 10px;
    transition: all 300ms ease-in-out 0s;
    color: var(--fontMainColor);
}

.disabled {
    color: var(--fontSecondaryColor);
    border: 0;
}

.menu {
    position: absolute;
    top: 40px;
    background: var(--bgHeaderColor);
    border-radius: 0 0 20px 20px;
    transition: all 0.7s;
    transform: translateY(0);
}

.menu.active {
    transition: all 0.7s;
    transform: translateY(-100%);
    z-index: -1;
}