.article {
  text-align: start;
  color: #16161a;
  font-size: 0.9rem
}

.secondaryText {
  color: var(--fontSecondaryColor);
}

.namePar {
  font-weight: 600;
}

p, p a {
  color: var(--fontMainColor);
}
