:root {
    --global-padding: 5rem;
}

@font-face {
  font-family: "YS";
  src: url("../../../public/YandexSansDisplay-Regular.ttf");
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "YS", sans-serif;
}


@media (max-width: 1000px) {
  :root {
    --global-padding: 2.5rem;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 0.8rem;
  }
}

