:root {
  --global-padding: 5rem;
}

body {
  background-color: var(--bgMainColor);
}

@font-face {
  font-family: "YS";
  src: url("../../../public/YandexSansDisplay-Regular.ttf");
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "YS", sans-serif;
}


@media (max-width: 1000px) {
  :root {
    --global-padding: 2.5rem;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 0.8rem;
  }
}

.themeLight {
  --bgMainColor: white;
  --bgHeaderColor: #531670;
  --bgButtonColor: #531670;
  --bgTogglerColor: #A2A3AB;
  --bgSliderScrollColor: #ced0d4;
  --bgInputColor: white;
  --fontMainColor: white;
  --fontSpecialColor: white;
  --fontSecondaryColor: #85868C;
}

.themeDark {
  --bgMainColor: #16161A;
  --bgHeaderColor: #6B0C6D;
  --bgButtonColor: #6B0C6D;
  --bgTogglerColor: #3C3C44;
  --bgSliderScrollColor: #ced0d4;
  --bgInputColor: #333338;
  --fontMainColor: #E2E2E2;
  --fontSpecialColor: white;
  --fontSecondaryColor: #85868C;
}