:root {
  --global-padding: 5rem;
}

body {
  background-color: var(--bgMainColor);
  min-height: 100vh;
}

@font-face {
  font-family: "YS";
  src: url("../../../public/YandexSansDisplay-Regular.ttf");
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "YS", sans-serif;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 1000px) {
  :root {
    --global-padding: 2.5rem;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 0.8rem;
  }
}

.themeLight {
  --bgMainColor: white;
  --bgHeaderColor: #531670;
  --bgButtonColor: #531670;
  --bgTogglerColor: #f1a900;
  --bgSliderScrollColor: #ced0d4;
  --bgInputColor: white;
  --fontMainColor: #16161A;
  --fontSpecialColor: white;
  --fontSecondaryColor: #85868C;
  --bgFeedbackColor: white;
  --fbRequiredFieldColor: #bf1d1d;
  --lazyLoaderColor: #454545;
  --menuFontColor: white;
}

.themeDark {
  --bgMainColor: #16161A;
  --bgHeaderColor: #6B0C6D;
  --bgButtonColor: #6B0C6D;
  --bgTogglerColor: #79b8e0;
  --bgSliderScrollColor: #ced0d4;
  --bgInputColor: #ced0d4;
  --fontMainColor: #E2E2E2;
  --fontSpecialColor: white;
  --fontSecondaryColor: #85868C;
  --bgFeedbackColor: #303034;
  --fbRequiredFieldColor: #bf1d1d;
  --lazyLoaderColor: #d1d1d1;
  --menuFontColor: #e6e6f2;
}