@font-face {
  font-family: "YS";
  src: url(../../../public/YandexSansDisplay-Regular.ttf);
}

.slider {
  text-align: left;
  margin: 20px 0 0 0;
  font-family: "YS";
}

.slider > div {
  position: relative;
}

.slider > div > div {
  overflow-x: hidden;
}

.slider > div > div > div {
  display: flex;
}

.slider > div > div > div > div {
  max-width: 40vw;
  margin-right: 30px;
}

.line {
  height: 5px;
  background: var(--bgHeaderColor);
  margin: 5px 0;
  position: relative;
  border-radius: 5px;
}

.segment {
  background: var(--bgTogglerColor);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: all 200ms ease-in-out 0s;
}

.nextBtn {
  top: -13%;
  right: 0;
}

.prevBtn {
  top: -13%;
  right: 3.4375rem;
}

.nextBtn,
.prevBtn {
  border-width: 0;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--bgButtonColor);
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.imgBlock {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
}

.imgBlock img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  margin: 20px 0;
  font-size: 3rem;
  color: var(--fontMainColor);
}
