.btn {
    margin-left: .3rem;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /*background-color: var(--bgTogglerColor);*/
    outline: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;
    padding: 0;
    cursor: pointer;
    background: transparent;
    transition: background-color .15s ease-in;
}

.btn:active {
    border: 0;
}

.btn:hover {
    background-color: var(--bgTogglerColor);
}

.hidden {
    display: none
}

.btn__moon, .btn__sun {
    height: 100%;
}