.header {
  background: var(--bgHeaderColor);
  padding: .3rem var(--global-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  padding: 3px 10px;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--fontSpecialColor);
  margin: 10px;
  transition: all 300ms ease-in-out 0s;
  color: var(--fontSpecialColor);
}

.link:not(.disabled) {
  cursor: default;
}

.disabled {
  color: #B7B7B7;
  border: 0;
}

.controlsGroup {
  display: flex;
  align-items: center;
}
