.header {
  background: #ebecf0;
}

.header nav {
  display: flex;
  flex-direction: start;
}

.link {
  text-decoration: none;
  padding: 3px 10px;
  font-size: 1.1rem;
  border-bottom: 2px solid black;
  margin: 10px;
  transition: all 300ms ease-in-out 0s;
  color: #16161a;
}

.disabled {
  color: #85868c;
  border: 0;
}
