.feedbackButton {
  border: none;
  background: var(--bgButtonColor);
  padding: 28px 58px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  color: var(--fontMainColor);
}

.feedbackButton:hover {
  cursor: pointer;
}
