.feedbackButton {
  border: none;
  background: var(--bgButtonColor);
  padding: 20px 30px;
  border-radius: 2px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--fontMainColor);
}

.feedbackButton:hover {
  cursor: pointer;
}
