.name {
  margin: 0 0 15px 0;
  font-size: 1.7rem;
  text-align: left;
  padding-right: 30px;
  color: var(--fontSpecialColor);
}

.link {
  font-size: 1.5rem;
  color: var(--fontSpecialColor);
}

.footer {

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bgHeaderColor);
}

.links {
  display: flex;
  justify-content: space-between;
}

.links > * {
/*  margin: 0 20px 0 0;*/
}

.imgBlock {
  width: 1.5rem;
}

.imgBlock img {
  display: block;
  width: 100%;
  height: auto;
}